name: Angular CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    # This sets the folder for all 'run' commands in this job
    defaults:
      run:
        working-directory: "Module 4/report-coverage"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          # We must tell the cacher where the package-lock.json is
          cache: 'npm'
          cache-dependency-path: "Module 4/report-coverage/package-lock.json"

      - name: Install dependencies
        run: npm ci

      - name: Run Vitest tests
        run: npm run test-coverage -- --no-watch
        
      - name: Upload Coverage Report
        # This makes the report available for download in GitHub
        if: always() # Upload even if tests fail
        uses: actions/upload-artifact@v4
        with:
          name: vitest-coverage-report
          path: "Module 4/report-coverage/coverage/"
      - name: Deploy Coverage to GitHub Pages
        # Only run this on the 'main' branch so you don't overwrite the report with PR data
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Path to the folder containing the index.html file
          publish_dir: "Module 4/report-coverage/coverage/"
          # Optional: Keep the history of reports
          keep_files: true
      # - name: Report Coverage
      #   # This action posts the summary to the PR and the Job Summary page
      #   uses: davelosert/vitest-coverage-report-action@v2
      #   if: always() 
      #   with:
      #     vite-config-path: "Module 4/report-coverage/vitest-base.config.ts"
      #     # Path to the json-summary file generated by Vitest
      #     json-summary-path: "Module 4/report-coverage/coverage/coverage-summary.json"
      #     json-final-path: "Module 4/report-coverage/coverage/coverage-final.json"
